.boyan
  padding 1ex

  > div
    border 1px solid navy
    margin-bottom 1ex

    > :first-child
      background navy

      button
        margin 0.5ex 1ex

  .boyan > div > :first-child
    background green
