.fontAwesome

  .all
    div
      width 1em
      display inline-block
      visibility hidden
      position absolute

    span
      display inline-block
      margin 0.1ex 0.62ex
      padding 0 0.31ex
      border 1px solid green
      border-radius 0.62ex
      text-align left
      white-space nowrap

      i
        margin-right 0.62ex

      &:hover
        i
          color: blue
