.fontAwesome

  > span
    display inline-block
    margin 0.1ex 0.62ex
    padding 0 0.31ex
    border 1px solid navy

    > .fa
      margin-right: 0.62ex

    &:hover
      > .fa
        color: blue
